.section {
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px;
  /* width: 100%; */
  /* background-color: #ffffff; */
}

.section.center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  text-align: center;
  height: 100%;
}

.content {
  flex: 1;
  padding: 24px;
  display: flex;
}

p{
    color: #242424 ;
}

h2 {
  color: #242424 ;
  font-size: 3.2em;
  line-height: 1.1;
}
