.section {
  margin: 0 auto;
  max-width: 1100px;
  padding: 20px;
  width: 100%;
}

.section.center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  text-align: center;
  height: 100%;
}
