/* Sidebar container */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #1f2933; /* dark blue-gray */
  color: #ffffff;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

/* Title */
.sidebar-header {
  margin: 0;
  /* padding: 12px 0; */
  background-color: #111827; /* darker shade */
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebar-header h2 {
  margin: 0 !important;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* user profile */
.user-profile {
  padding: 20px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; 
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3498db;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info p {
  font-size: 12px;
  color: #95a5a6;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Menu list */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu items */
.sidebar ul li {
  margin-bottom: 15px;
}

/* Links */
.sidebar ul li a {
  text-decoration: none;
  color: #d1d5db;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

/* Hover effect */
.sidebar ul li a:hover {
  background-color: #374151;
  color: #ffffff;
}

/* Active link (optional later) */
.sidebar ul li a.active {
  background-color: #2563eb;
  color: #ffffff;
}

/* Logout Button */

button .logout-btn {
  border-radius: 0 !important;
}

.logout-btn {
  width: 100%;
  background: #111827;
  border: none;
  color: #d1d5db;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  position: absolute;
  bottom: 0;
  border-radius: 0;
}

.logout-btn:hover {
  background-color: #374151;
  color: #ffffff;
  transition: background 0.2s, color 0.2s;
}